html {
    font-family: 'Open Sans', 'Noto Sans TC', sans-serif;
    color: var(--primary-color);
}

body {
    background-color: var(--bg-color);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: var(--nav-bg);
}

nav .brand-logo {
    font-weight: 800;
    padding-left: 1rem;
    color: var(--nav-color);
}

nav .brand-logo img.nav-logo {
    width: 2.8rem;
    vertical-align: sub;
}

nav .nav-wrapper ul li a i {
    color: var(--nav-color);
}

main {
    flex: 1 0 auto;
}

.main-inner {
    padding-top: 1rem;
}

.switch-box {
    width: 100%;
}

.collapsible {
    border-color: var(--secondary-bg);
}

.collapsible .collapsible-header {
    background-color: var(--secondary-bg);
    border-color: var(--secondary-bg);
}

.collapsible .collapsible-body {
    border-color: var(--secondary-bg);
}

.collapsible .collapsible-body .collapsible-row:not(:last-child) {
    border-bottom: 1px solid var(--secondary-bg);
}

.collapsible .collapsible-body .collapsible-row .btn-flat {
    color: var(--link-color);
}

.cards .card {
    background-color: var(--secondary-bg);
}

.cards .card .card-title {
    font-weight: 600;
}

.cards .card .card-content .card-title {
    margin-bottom: 1rem !important; 
}

.cards .card .card-content .btn {
    background-color: var(--btn-bg);
}

.cards .card .card-content .btn:nth-child(2) {
    margin-right: .5rem;
}

.cards .card .card-content .btn:last-child {
    margin-left: .5rem;
}

footer {
    padding: 1rem;
    font-size: .8rem;
    color: var(--footer-color);
}

.modal {
    height: 80% !important;
    max-height: 80% !important;
    background-color: var(--secondary-bg);
}

.modal-content {
    overflow: hidden !important;
}

.modal-content h4 {
    text-transform: uppercase;
    font-weight: 600;
}

.modal-content pre {
    margin: 0;
    height: 0;
}

.modal-content pre code {
    font-family: 'Roboto Mono', monospace;
    font-size: .85rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.3;
    border-radius: 5px;
    overflow: auto;
    height: 65%;
}

.modal .modal-footer {
    background-color: var(--secondary-bg);
}

.modal .modal-footer a{
    color: var(--link-color);
}