@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #212121;
        --secondary-bg: #424242;
        --nav-bg: #424242;
        --btn-bg: #616161;
        --primary-color: #9e9e9e;
        --link-color: #26a69a;
        --nav-color: #9e9e9e;
        --footer-color: #757575;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff;
        --secondary-bg: #eee;
        --nav-bg: #ee6e73;
        --btn-bg: #26a69a;
        --primary-color: #212121;
        --link-color: #26a69a;
        --nav-color: #fff;
        --footer-color: #bdbdbd;
    }
}
